.checkbtn{
    display: block;
    line-height: 80px;
}
nav ul {
    display: inline;
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #333;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    font-size:1.9rem;

}
a.active , li a:hover{
    background-color: rgb(255 190 4);
}
#check:checked ~ ul {
    left: 50%;
    transition:0.5s;
}
.hero-img{
    display: none;
}
.hero {
    
    margin-top: 80px;
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
}
.dishes-grid {
    grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
}
.info p{
    margin: 0 10px;
}
.info button {
    justify-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.info button{
    margin-top: 30px;
    width: fit-content;
}