*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family:   'Roboto', sans-serif 
}

html{
 font-size: 62.5%;
}
main {
    margin: 0  auto;
    max-width: 1200px;
}
nav{
    background-color:rgb(255 190 4);
    width: 100%;
    height: 100px;
}
.enlace {
    position: absolute;
    
}
.logo{

    width: 200px;
    height: 200px;
    margin-left: 40px;
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
    
}
nav ul {
    float: right;
    margin-right: 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
   
   

}
nav ul li {
    
    line-height: 100px;
   

    
   
}
nav ul li a {
    color: rgb(248, 246, 246);
    font-weight: bold;
    font-size: 1.7rem;
    border-radius: 3px;
    padding: 7px 13px;
    text-transform: uppercase;
}li a.active, li a:hover{
    background-color: #333;
    transition: .5s;
}
.checkbtn{
    font-size: 35px;
    color: aliceblue;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}


.hero{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-self: center; 
    /* max-height: 400px; */
    grid-auto-rows: 550px;
    border-bottom: 1px solid rgb(222, 222, 222);

}
.hero-img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.info {
   align-self: center;
}
.info h1 {
    font-size: 6rem;
    font-weight: bolder;
    color: #333;
    font-family: cursive;
}
.info p{
    margin-top: 20px;
    font-size: 2rem;
    color: rgb(95, 96, 96);
}
.info button {
  
    margin-top: 18px;
    padding: 10px 20px;
    background-color: rgb(255 190 4);
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(49, 49, 49); 
    border: none;
    border-radius: 10px;
  
    box-shadow: 0px 0px 5px 3px rgba(177, 174, 174, 0.75);
}
.info button:hover{
    background-color: #333;
    color:rgb(248, 246, 246) ;
    transition: 0.3s;


    cursor: pointer;
   
}
.dishes {
    margin: 100px 0;
}
.dishes-title {
    margin-bottom: 50px;
    text-align: center;
    font-family: cursive;
    font-size: 3rem;
    font-weight: cover;
    line-height: 2.6rem;
    color: #333;
}

.dishes-grid{
    max-width: 1200px;
    height:auto;
    
    display: grid;
    /* grid-template-columns: repeat(4, minmax(150px, 220px)); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 220px));
    grid-auto-rows: auto;
    gap: 30px;
    justify-content: center;
    /* padding: 0 40px; */
    border-left: 1px solid rgb(222, 222, 222);
    border-right: 1px solid rgb(222, 222, 222);
}
.dishes-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dishes-image:hover{
   cursor: pointer;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);
}
.dishes-image_big {
    grid-area: 1/1/3/3;
    /* grid-column: 1/3;
    grid-row: 1/4; */
    cursor: pointer;
}
.menu-grid{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
   
    justify-content:center;
    margin-bottom: 100px;
    gap: 20px;
    



}
.menu-title{
 
    /* place-self: center; */
    margin-bottom: 40px;
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    font-weight: bolder;
    
    color: #333;
}
.menu-image{
    
   
    border-top-left-radius: 35px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.75);

}
.menu-image:hover{
    cursor: pointer;
    background-color: rgb(254, 208, 241);;

}